.compContainer{
    width: 30vw;
    min-width: "1000px";
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.cardLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1em;
}